---
import Layout from '../layouts/Layout.astro'
import Strava from '../components/Strava'
import Geography from '../components/Geography.astro'
---
<Layout>
	<h1>Grail Leaderboard</h1>
	<!-- <Strava client:visible/> -->
	<Geography />
</Layout>