---
---
<section class="route-map">
  <div id="map"></div>
</section>
<script>
  
const callActivities = `https://www.strava.com/api/v3/athlete/activities?access_token=`
function getActivity() {

}
</script>